bs4==0.0.2
jproperties==2.1.2
pandas==2.2.3
pymongo==4.10.1
requests==2.32.3
selenium==4.27.1
types-requests==2.32.0.20241016
SQLAlchemy==2.0.37
psycopg2-binary==2.9.10
dbt-core==1.9.2
dbt-postgres==1.9.0